<% provide(:title, 'Log in') %>     

<!--LOGIN START-->
<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12">
								<a class="active" href="#" id="login-form-link"><h1>Login</h1></a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
                                
                                    <%= form_for(:session, url: login_path) do |f| %>
									<div class="form-group">
                                        <%= f.email_field :email, class: 'form-control', placeholder:"Email" %>
										
									</div>
									<div class="form-group">
                                        <%= f.password_field :password, class: 'form-control', placeholder:"Password" %>
										
									</div>
									<div class="form-group text-center">

                                          <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me</span>
      <% end %>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
					<%= f.submit "Log in", class: "form-control btn btn-login" %>		
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
				<p>New user? <%= link_to "Sign up now!", signup_path %></p>	
                                                    <%= link_to "Forgot Password?", new_password_reset_path %>

												</div>
											</div>
										</div>
									</div>
								<% end %>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

