<% provide(:title, 'Reset password') %>     

<!--PASSWORD RESET-->
<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12">
								<a class="active" href="#" id="login-form-link"><h1>Reset password</h1></a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
                                
                                    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
                                <%= render 'shared/error_messages', object: f.object %>
									<div class="form-group">
                                        <%= hidden_field_tag :email, @user.email %>
										
									</div>
									<div class="form-group">
                                        <%= f.password_field :password, class: 'form-control', placeholder:"Password" %>
										
									</div>
                                	<div class="form-group">
<%= f.password_field :password_confirmation, class: 'form-control', placeholder:"Confirm Password" %>						
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
					<%= f.submit "Update password", class: "form-control btn btn-login" %>		
											</div>
										</div>
									</div>
                                <% end %>
										</div>
									</div>
								

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

