<% provide(:title, 'Listings') %>
<div class="row" id="cardHolder">
    <div class= "col-md-6 col-md-offset-3 card">
    <% @listings.each do |listing| %>
            <div class="col-md-12 info1">
                <div class="col-md-4 dater">
                    <%= listing.created_at.strftime('%b') %><br>
                    <%= listing.created_at.strftime('%d') %></div>
<!--                <i class="fa fa-headphones fa-5x"></i>-->
                <div class="col-md-12 desc">
                    <%= listing.description %>.
                </div>
                <div class="col-md-12 city">
                    <%= listing.city %>,
                    <%= listing.state %> | Musician
                </div>
                <div class="col-md-12 about">
                    I just moved to CA and I am looking to find some people to jam with, perferably around Long beach. 
                </div>
                <div class="col-md-12 tags">
                    <div class="tag"><%= listing.tagone %></div>
                    <div class="tag"><%= listing.tagtwo %></div>
                    <div class="tag"><%= listing.tagthree %></div>
                </div>
            </div>
    <% end %>
            <% if @soundcloudid.present? %>
                <div class="col-md-12 soundcloud" id="player"></div>
            <% else %>
            <% end %>
    </div>
</div>  
    <ul style= "display:none;">
        <% @tracks.each do |track| %>
              <li><%= track.permalink_url %></li>
        <% end %>
    </ul>

<script>
//customized toneden soundcloud player
    
        var urlArray = [];
$("ul li").each(function() { urlArray.push($(this).text()) });
    
    (function() {
        var script = document.createElement("script");

        script.type = "text/javascript";
        script.async = true;
        script.src = "//sd.toneden.io/production/v2/toneden.loader.js";

        var entry = document.getElementsByTagName("script")[0];
        entry.parentNode.insertBefore(script, entry);
    }());

    ToneDenReady = window.ToneDenReady || [];
    ToneDenReady.push(function() {
        ToneDen.configure({
            soundcloudConsumerKey: '80a76cc76c57ab1f386a539f7b89e5fc'
        });
        // Modify the dom and urls parameters to position
        // your player and select tracks/sets/artists to play.
        ToneDen.player.create({
            dom: "#player",
            single: true,
            skin: "dark",
            visualizerType: 'waves',
//            mini: true,
            urls: urlArray 
        });
    });
</script>



<!--I COULD POSSIBLE MAKE A GET REQUEST TO THE SOUNDCLOUD API THEN GET THE URL LINK TO THE USERS PLAYLIST THEN INSERT THAT INTO THIS JAVASCRIPT TO BUILD THE PLAYER-->
<!--
Need to think about what happens when you swipe cards
What order the cards should be in most likely by most recently created
maybe just mark with some css styling if you have already seen a listing so after you search through them it just overlaps-->
