<% provide(:title, 'New Listing') %>

<!--NEW LISTING-->
<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-signup">
					<div class="panel-heading">
						<div class="row">
                            <div class="col-xs-12">
								<a href="#" class="active" id="register-form-link"><h1>New Listing</h1></a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">

                                    <%= form_for(@listing) do |f| %>
                                <%= render 'shared/error_message' %>
                                <%= f.label :description %>
									<div class="form-group">
                                        <%= f.text_field :description, class: 'form-control', placeholder:"e.g. Need drummer for indie rock band."%>
									</div>
                                    <%= f.label :city %>
									<div class="form-group">
                                        <%= f.text_field :city, class: 'form-control', placeholder:"e.g. Long Beach" %>
									</div>
                                    <%= f.label :state %>
									<div class="form-group dropdown">
                                        <%= f.select :state, options_for_select(us_states) %>
									</div>
                                <%= f.label :tags %>
                                <div class="form-inline">
									<div class="form-group">
<%= f.text_field :tagone, class: 'form-control', placeholder:"e.g. Synthpop or Radiohead" %>						
									</div>
                                <div class="form-group">
<%= f.text_field :tagtwo, class: 'form-control', placeholder:"e.g. Synthpop or Radiohead" %>						
									</div>
                                <div class="form-group">
<%= f.text_field :tagthree, class: 'form-control', placeholder:"e.g. Synthpop or Radiohead" %>						
									</div>
                                    </div><br>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
                                                <%= f.submit "Create Listing", class:"form-control btn btn-register" %>
											</div>
       										</div>
									</div>                                     

                                    <% end %>
                                
								

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
