<% provide(:title, 'Update') %>     
<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-signup">
					<div class="panel-heading">
						<div class="row">
                            <div class="col-xs-12">
								<a href="#" class="active" id="register-form-link"><h1>Update User Information</h1></a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">

                                    <%= form_for(@user) do |f| %>
                                <%= render 'shared/error_messages', object: f.object %>
									<div class="form-group">
                                        <%= f.text_field :name, class: 'form-control', placeholder:"Name" %>
									</div>
                                    
									<div class="form-group">
                                        <%= f.email_field :email, class: 'form-control', placeholder:"Email Address" %>
									</div>
                                    
									<div class="form-group">
                                        <%= f.password_field :password, class: 'form-control', placeholder:"Password" %>
									</div>
									<div class="form-group">
<%= f.password_field :password_confirmation, class: 'form-control', placeholder:"Confirm Password" %>						
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
                                                <%= f.submit "Save changes", class:"form-control btn btn-register" %>
                                                
                                        
											</div>
       										</div><br>
                                    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
									</div>     

                                    <% end %>
								    

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>