<% provide(:title, @user.name) %>
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
    <% if @soundcloudid.present? %>
    <% else %>
        <%= link_to image_tag("soundcloud_connect.png"), soundcloud_connect_path %>
    <% end %>
<div class="row">
    <h1>Listings(<%= @user.listings.count %>)
    <%= link_to "New listing", new_listing_path, class: "btn btn-primary" %>
    </h1>
</div>
<div class="container">
    <div class="row">
            <% @user.listings.each do |l| %>
                <li><%= l.description %>
              <%= link_to "Edit", edit_listing_path(l) %> |
              <%= link_to "Delete", l, method: :delete,
                                              data: { confirm: "You sure?" } %>
                </li>
            <% end %>
    </div>
</div>


