.none {
    display:none;
}

.listings{
    padding:0px;

    #cardHolder {
        position:relative;
    }
    
     .info1:first-child {
        display:block;
    }
    
     .card {
         height:100vh;
         width:100%;
         padding-left:0;
         padding-right:0;
         position:relative;  
     }
    
     .info1 {
        color:white;
        position:absolute;
        text-align:left;
        background-color:#E4653C;
        margin-top:10px;
        height:74vh;
        margin-right:10px;
        margin-left: 10px;
        border-color: #030f19;
        -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,1);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 4px 6px 0px #030f19;
        padding-top:12vw;
        display:none;
    }
    
    .dater {
        background-color:#212F3A;
        position:absolute;
        right:0;
        width:45px;;
        top:0;
        color:white;
        text-align:center;
        height:50px;
        margin-right:10px;
        -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,1);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 1.5px 0.75px 1px rgba(3,15,25,0.5); 
        padding-right:0;
        padding-left:0;
        padding-top:3px;
        font-size:16px;
    }
    
   .soundcloud {
        padding-left:0;
        padding-right:0;
        position:absolute;
        bottom:0;
        left:0;
        right:0;
        background-color:#030f19;
    }

    .desc {
        font-size:9vw;
//          -webkit-animation: fadeInRight 1s; /* Safari and Chrome */
//     -moz-animation: fadeInRight 1s; /* Firefox */
//      -ms-animation: fadeInRight 1s; /* Internet Explorer */
//       -o-animation: fadeInRight 1s; /* Opera */
//          animation: fadeInRight 1s;
//        text-shadow:2px 2px #1a1a1a;
    }
    .city { 
        font-size:4.5vw;
        margin-top:15px;
        margin-bottom:20px;
    }
    
    .about {
        margin-bottom:25px;
        font-size:4.0vw;
    }
    
    .tags {
        text-align:left;
    }
    
    .tag {
        font-size:3.5vw;
        background-color:#030f19;
        border-radius:100px;
        display:inline-block;
        padding:7px 15px 9px 15px;
        margin-bottom:7px;
        margin-right:4px;
    }
    
    .info1 .fa {
        padding-top:10vw;
    }
        
//    Music player customizations
    .td.player.solo {
        border: 0px solid;
    }
    
    .td.player.solo .cover {
        height:22vh;
    }
    
    .td.player.solo .solo-cover {
        height:22vh;
        overflow:hidden;
    }
    
    .td.player.solo .solo-cover img {

    }
    
    .td.player.solo .buttons {
        margin: 0 auto;
        height:22vh;
    }
    
    .td.player.solo .controls {
//        -webkit-animation: fadeInRight 1s; /* Safari and Chrome */
//         -moz-animation: fadeInRight 1s; /* Firefox */
//          -ms-animation: fadeInRight 1s; /* Internet Explorer */
//           -o-animation: fadeInRight 1s; /* Opera */
//              animation: fadeInRight 1s;
    }
    
    .td.player.solo .scrubber-box, .td.player.solo .buy-link,
    .td.player.solo .follow-link, .td.player.solo .current-song-info,    .td.player.solo .song-name,
    .td.player.solo .artist-name, .td.player.solo .info {
      display:none;
    }
    
//    .td.player.solo .info {
//        text-align:center;
//        display:table;
//        width:100%; 
//    }
//    
//    .td.player.solo .song-name,
//    .td.player.solo .artist-name {
//      font-size: 15px;
//      font-family: 'Lato',sans-serif;
//      width:50%;
//      display: inline-block;
//      display: table-cell;
//      vertical-align: middle;
//      float: none;
//      text-align: center;  
//    }

//    
//        @media screen and (max-height: 400px) {
//            .td.player.solo .info{
//              display:none;
//        }
//    }
}