<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><%= link_to "BandMates", root_path %></h1>
			<i class="icon-remove menu-close"></i>
            <% if logged_in? %>
                <%= link_to "Home", root_path %>
                <%= link_to "Find BandMates", listings_path %>
                <%= link_to "Profile", current_user %>
            <% if current_user.admin? %>
                <%= link_to "Users", users_path %>
            <% end %>
                <%= link_to "Settings", edit_user_path(current_user) %>
                <%= link_to "Help", help_path %>
                <%= link_to "Log out", logout_path, method: "delete" %>
            <% else %>
                <%= link_to "Home", root_path %>
                <%= link_to "Help", help_path %>
                <%= link_to "Log in", login_path %>
                <%= link_to "Sign up", signup_path %>
            <% end %>
		</div>
		
		<!-- Menu button -->
        
		<div id="menuToggle"></div>
<!--        <i class="fa fa-bars fa-2x fa-inverse"></i>-->
	</nav>




